name: CD Pipeline

on:
  push:
    branches:
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: development

    steps:
      - name: Trigger Deployment
        run: |
          echo "Triggering deployment"
          curl -X POST "${{ secrets.RENDER_CALLBACK_URL }}"
